@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
  font-family: Arial;
  font-size: 16px;
  background: #5e42a6;
}
.sidebar {
  position: fixed;
  width: 25%;
  height: 100vh;
  background: #312450;
  font-size: 0.65em;
}
.nav {
  position: relative;
  margin: 0 15%;
  text-align: right;
  top: 30%;
  transform: translateY(-50%);
  font-weight: bold;
}
.nav ul {
  list-style: none;
}
.nav ul li {
  position: relative;
  margin: 3.2em 0;
}
.nav ul li a {
  line-height: 5em;
  text-transform: uppercase;
  text-decoration: none;
  letter-spacing: 0.4em;
  color: rgba(255, 255, 255, 0.35);
  display: block;
  transition: all ease-out 300ms;
}
.nav ul li.active a {
  color: white;
}
.nav ul li:not(.active)::after {
  opacity: 0.2;
}
.nav ul li:not(.active):hover a {
  color: rgba(255, 255, 255, 0.75);
}
.nav ul li::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 0.2em;
  background: black;
  left: 0;
  bottom: 0;
  background-image: linear-gradient(to right, #5e42a6, #b74e91);
}

/* ********************************* */

.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100vw; /* Full width */
  height: 100vh; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  /* background-color: #fefefe; */
  margin: 15% auto; /* 15% from the top and centered */
  background-color: #19152b;
  padding: 20px;
  border: 1px solid #888;
  width: 20%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#title {
  text-align: center;
  font-size: 4rem;
  background: -webkit-linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* ********************* */

.book-display {
  position: relative;
  width: 75%;
  float: right;
  height: 100vh;
}
.book-display .container {
  display: flex;
  flex-direction: row;
  flex-grow: 1;
  flex-wrap: wrap;
  align-items: top;
  /* justify-content: space-around; */
  height: 100%;
}

.book-display p {
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 0.1em;
  color: rgb(23, 194, 213);
  font-weight: bold;
  margin-top: 20px;
}

.card {
  width: 31.3%;
  margin: 10px;
  max-height: 420px;
  justify-content: center;
  /* align-self: center; */
  display: flex;
}

.card:hover .card__caption {
  top: 50%;
  transform: translateY(-50%);
}
.card:hover .card__image {
  transform: translateY(-10px);
}
.card:hover .card__thumb::after {
  top: 0;
}
.card:hover .card__snippet {
  margin: 20px 0;
}
.card__thumb {
  position: relative;
  max-height: 400px;
  overflow: hidden;
  width: 75%;
}
@media (min-width: 1024px) {
  .card__thumb {
    max-height: 400px;
    width: 90%;
  }
}
.card__thumb::after {
  position: absolute;
  top: 0;
  display: block;
  content: '';
  width: 100%;
  height: 100%;
  background: linear-gradient(
    0deg,
    rgba(0, 0, 0, 0.5) 40%,
    rgba(255, 255, 255, 0) 100%
  );
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__thumb::after {
    top: calc(100% - 140px);
  }
}
.card__image {
  transition: 0.5s ease-in-out;
  width: 75%;
  display: block;
  margin: 0 auto;
}
.card__caption {
  position: absolute;
  top: 50%;
  z-index: 1;
  padding: 25px 60px;
  color: rgb(224, 197, 254);
  transform: translateY(-50%);
  text-align: center;
  transition: 0.3s;
}
@media (min-width: 1024px) {
  .card__caption {
    top: calc(100% - 110px);
    transform: unset;
  }
}
.card__title {
  display: -webkit-box;
  max-height: 85px;
  /* overflow: hidden; */
  /* font-family: 'Playfair Display', serif; */
  font-size: 20px;
  /* line-height: 28px; */
  text-shadow: 0px 1px 5px black;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.card__snippet {
  display: -webkit-box;
  max-height: 150px;
  margin: 20px 0;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 20px;
  text-overflow: ellipsis;
  transition: 0.5s ease-in-out;
  -webkit-line-clamp: 5;
  -webkit-box-orient: vertical;
}
@media (min-width: 1024px) {
  .card__snippet {
    margin: 60px 0;
  }
}
.card__button {
  display: inline-block;
  padding: 10px 20px;
  color: white;
  border: 1px solid white;
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
  text-transform: uppercase;
  text-decoration: none;
  transition: 0.3s;
}
.card__button:hover {
  color: black;
  background-color: white;
}

#modal-btn {
  width: 13rem;
  height: 16rem;
  border: 4px dotted #312450;
  border-radius: 2%;
  background-color: #5e42a6;
  font-size: 8rem;
  color: rgba(18, 7, 38, 0.666);
  transition: 0.3s;
  margin: 0 auto;
  align-self: center;
}

#modal-btn:hover,
#modal-btn:focus {
  background-color: rgba(39, 19, 70, 0.303);
  cursor: pointer;
  width: 16rem;
  height: 19rem;
  transition: 0.5s all ease-in-out;
  font-size: 10rem;
}

/* ************ FORM ************ */

.form {
  background-color: #2b1a3a;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 360px;
  margin: auto;
}

.form-title {
  background: -webkit-linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  background: -webkit-linear-gradient(135deg, #43cbff 10%, #9708cc 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: #303245;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: #2b1a3a;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 90px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #7a2fdc;
}

.submit {
  background-color: cyan;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  /* color: #eee; */
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
  /* // outline: 0; */
  text-align: center;
  width: 100%;
}

.submit:active {
  background-color: rgb(0, 171, 187);
}
